@charset "utf-8";
$white: #ffffff;
$black: #4a4a4a;
$blue: #0058ce;


@import "~bulma/bulma.sass";
@import "~bulma-timeline/dist/css/bulma-timeline.sass";

html {
  background: $white;
  color: $black;
}

header .navbar {
  display: flex;
  width: auto;
  margin: 2em auto;
  background-color: $white;
  //font-: $foreground-color;
}

.header {

}

.footer {
  background-color: $white;
}

.timeline {

  .timeline-header span {
    color: $white;
    background: $black;
  }

  .timeline-item:before {
    background-color: $black;

  }

  .timeline-item {
    .timeline-marker {
      top: 1.75rem;
      background: $black;
      border: 0;
    }
  }
}

.timeline-content {
  p {
    margin: 1em 0;
  }

  .date {
    font-size: 1.5rem;
    padding-top: 0;
    margin-top: 0;
  }

  .event {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .institution {
    font-style: italic;
    font-weight: bold;
  }

  //.description {}

  .tag {
    color: $white;
    background: $black;
  }
}

.thumbnail-container {
  display: flex;
}

.project-thumbnail {
  //width: 300px;
  height: 200px;
  margin: 0 auto 2em auto;
}

.column.is-4 {
  flex: initial;
}

.skill-column {
  margin: 0 30px;
}

.skill-list > li {
  margin: 1.5em 0 0 0;
}

.skill-level {
  float: right;
}

.progress::-moz-progress-bar {
  background-color: $black;
}

.progress::-webkit-progress-value {
  background-color: $black;
}

.progress {
  color: $black;
}

.project-card {
  margin-top: 2em;
  //padding: 10px;
  //width: 33%;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.19);
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-radius: 3% 3%;
}

.contact-icon {
  vertical-align: bottom;
  margin: 0 3px;
  color: inherit;
}

.email-card {
  z-index: 9999;
  position: relative;
  top: -16vh;
  width: max-content;
  margin: 0 auto;
  padding: 25px;
  border-radius: 10px;
  background: #fff;
}

.bg {
  width: 100vw;
  z-index: 9998;
  position: fixed;
  margin: 0;
  padding: 0;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}